*{
	margin:0px;
	padding:0px;
}
#ABslidbar{
	 position:relative; 
}
#ABslidbar #Aslidbar{
	height:470px;
	width:210px;
	background:#333;;
	position: absolute; 
}
#Aslidbar dl{
	height:46px;
	position:relative;
	border-bottom: 1px solid #666;
}
#Aslidbar dt:hover{
	background:#ED145B;
}
#Aslidbar #dl1 #dt1 em{
	background-position: 0 -108px;
}
#Aslidbar #dl2 #dt2 em{
	background-position: -17px -110px
}
#Aslidbar #dl3 #dt3 em{
	background-position: -34px -110px
}
#Aslidbar #dl4 #dt4 em{
	background-position: -51px -111px
}
#Aslidbar #dl5 #dt5 em{
	background-position: -68px -110px
}
#Aslidbar #dl6 #dt6 em{
	background-position: -85px -111px
}
#Aslidbar #dl7 #dt7 em{
	background-position: -102px -111px
}
#Aslidbar #dl8 #dt8 em{
	background-position: -118px -111px
}
#Aslidbar #dl9 #dt9 em{
	background-position: -136px -111px
}
#Aslidbar #dl10 #dt10 em{
	background-position: -154px -111px
}
#Aslidbar dl dt em{
	width:17px;
	height:17px;
	margin-left: 7px;
	display: inline-block;
	background: url(../img/header-01.png) no-repeat;
}
#Aslidbar dl dt i{
	 height:16px;
	 border-left:1px solid #999;
	 width:  0px;
	 margin:0 8px;
}
#Aslidbar dl dt a{
	color:#fff;
	line-height: 46px;
	text-decoration: none;
}
#Aslidbar dl dt .product{
	margin: 0 0 0 18px;
    height: 20px;
    display: inline;
    font-size: 16px;
}
#Aslidbar dl dt .hot{
	font-size: 12px;
}
#Aslidbar dl dt .hot:hover{
	text-decoration: underline;  
}   
#Aslidbar dl dt span{
	float: right;
	width: 6px;
	height: 11px;
	margin: 15px 15px 0 0;
	background: url(../img/header-01.png) -209px -111px no-repeat;
}
#Aslidbar #dl1 #dd1{
	width:495px;
	top:0px;
	background:#999;
	position:absolute;
	left:210px;
	display: none; 
}
#Aslidbar #dl1 #dd1 #dd1-1{
	float:left;
	width:335px;
	height:403px;
	background:#333333;
	padding-top:20px;
}
#Aslidbar #dl1 #dd1 #dd1-1 #dd1-1-1{
	width:295px;
	margin-left:40px;
	border-bottom: 1px dotted #666;
}
#Aslidbar #dl1 #dd1 #dd1-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#Aslidbar #dl1 #dd1 #dd1-1 a:hover{
	color:#e5004f;
}
#Aslidbar #dl1 #dd1 #dd1-1 #dd1-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#Aslidbar #dl1 #dd1 #dd1-1 #dd1-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#Aslidbar #dl1 #dd1 #dd1-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
    border-bottom: 1px dashed #666;
}
#dl1 #dt1 a:hover em{
	background-color:#e5004f;
}
#Aslidbar #dl1 #dd1 #dd1-2{
	float:right;
 	height:393px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#Aslidbar #dl1 #dd1 #dd1-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#Aslidbar #dl1 #dd1 #dd1-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#Aslidbar #dl1 #dd1 #dd1-2 p a:hover{
	  color:#e5004f;
}

#Aslidbar #dl2 #dd2{
	width:495px;
	background:#999;
	position:absolute;
	left:210px;
	display: none; 
	top:47px;
}
#Aslidbar #dl2 #dd2 #dd2-1{
	float: left;
    width: 295px;
    height: 403px;
    background: #333333;
    padding-top: 20px;
    padding-left: 40px;
}
#Aslidbar #dl2 #dd2 #dd2-1 #dd2-2-1{
	width:295px;
	margin-left:40px;
	border-bottom: 1px dotted #666;
}
#Aslidbar #dl2 #dd2 #dd2-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#Aslidbar #dl2 #dd2 #dd2-1 a:hover{
	color:#e5004f;
}
#Aslidbar #dl2 #dd2 #dd2-1 #dd2-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#Aslidbar #dl2 #dd2 #dd2-1 #dd2-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#Aslidbar #dl2 #dd2 #dd2-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
    border-bottom: 1px dashed #666;
}
#Aslidbar #dl2 #dd2 #dd2-2{
	float:right;
 	height:393px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#Aslidbar #dl2 #dd2 #dd2-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#Aslidbar #dl2 #dd2 #dd2-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#Aslidbar #dl2 #dd2 #dd2-2 p a:hover{
	  color:#e5004f;
}


#dl3 #dd3{
	width:495px;
	position:absolute;
	left:210px;
	display: none;
	top:94px;
}
#dl3 #dd3 #dd3-1{
	float: left;
    width: 295px;
    height: 310px;
    background: #333333;
    padding-top: 20px;
    padding-left: 40px;
}
#dl3 #dd3 #dd3-1 #dd3-1-1{
	width:295px;
	margin-left:40px;
	border-bottom: 1px dotted #666;
}
#dl3 #dd3 #dd3-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#dl3 #dd3 #dd3-1 a:hover{
	color:#e5004f;
}
#dl3 #dd3 #dd3-1 #dd3-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#dl3 #dd3 #dd3-1 #dd3-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#dl3 #dd3 #dd3-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
    border-bottom: 1px dashed #666;
}
#dl3 #dd3  #dd3-2{
	float:right;
 	height:300px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#dl3 #dd3  #dd3-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#dl3 #dd3  #dd3-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#dl3 #dd3  #dd3-2 p a:hover{
	  color:#e5004f;
}


#dl4 #dd4{
	width:495px;
	position:absolute;
	left:210px;
	display: none; 
	top:141px;
}
#dl4 #dd4 #dd4-1{
	float: left;
    width: 295px;
    height: 200px;
    background: #333333;
    padding-top: 20px;
    padding-left: 40px;
}
#dl4 #dd4 #dd4-1 #dd4-1-1{
	width:295px;
	margin-left:40px;
	border-bottom: 1px dotted #666;
}
#dl4 #dd4 #dd4-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#dl4 #dd4 #dd4-1 a:hover{
	color:#e5004f;
}
#dl4 #dd4 #dd4-1 #dd4-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#dl4 #dd4 #dd4-1 #dd4-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#dl4 #dd4 #dd4-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
    border-bottom: 1px dashed #666;
}
#dl4 #dd4  #dd4-2{
	float:right;
 	height:190px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#dl4 #dd4  #dd4-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#dl4 #dd4  #dd4-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#dl4 #dd4  #dd4-2 p a:hover{
	  color:#e5004f;
}


#dl5 #dd5{
	width:495px;
	position:absolute;
	left:210px;
	display: none;
	top:47px;
}
#dl5 #dd5 #dd5-1{
	float: left;
    width: 295px;
    height: 355px;
    background: #333333;
    padding-top: 20px;
    padding-left: 40px;
}
#dl5 #dd5 #dd5-1 #dd5-1-1{
	width:295px;
	margin-left:40px;
	border-bottom: 1px dotted #666;
}
#dl5 #dd5 #dd5-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#dl5 #dd5 #dd5-1 a:hover{
	color:#e5004f;
}
#dl5 #dd5 #dd5-1 #dd5-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#dl5 #dd5 #dd5-1 #dd5-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#dl5 #dd5 #dd5-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
    border-bottom: 1px dashed #666;
}
#dl5 #dd5  #dd5-2{
	float:right;
 	height:345px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#dl5 #dd5 #dd5-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#dl5 #dd5 #dd5-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#dl5 #dd5 #dd5-2 p a:hover{
	  color:#e5004f;
}


#dl6 #dd6{
	width:500px;
	position:absolute;
	left:210px;
	display: none; 
	top:0px;
}
#dl6 #dd6 #dd6-1{
	float: left;
    width: 340px;
    height: 403px;
    background: #333333;
    padding-top: 20px;
}
#dl6 #dd6 #dd6-1 #dd6-1-1{
	width:295px;
	margin-left:40px;
	border-bottom: 1px dotted #666;
}
#dl6 #dd6 #dd6-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#dl6 #dd6 #dd6-1 a:hover{
	color:#e5004f;
}
#dl6 #dd6 #dd6-1 #dd6-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#dl6 #dd6 #dd6-1 #dd6-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#dl6 #dd6 #dd6-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
}
#dl6 #dd6 #dd6-2{
	float:right;
 	height:393px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#dl6 #dd6 #dd6-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#dl6 #dd6 #dd6-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#dl6 #dd6 #dd6-2 p a:hover{
	  color:#e5004f;
}


#dl7 #dd7{
	width:500px;
	position:absolute;
	left:210px;
	 display: none; 
	top:0px;
}
#dl7 #dd7 #dd7-1{
	float: left;
    width: 340px;
    height: 403px;
    background: #333333;
    padding-top: 20px;
}
#dl7 #dd7 #dd7-1 #dd7-1-1{
	width:300px;
	margin-left:20px;
	border-bottom: 1px dotted #666;
}
#dl7 #dd7 #dd7-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#dl7 #dd7 #dd7-1 a:hover{
	color:#e5004f;
}
#dl7 #dd7 #dd7-1 #dd7-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#dl7 #dd7 #dd7-1 #dd7-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#dl7 #dd7 #dd7-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
}
#dl7 #dd7 #dd7-2{
	float:right;
 	height:393px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#dl7 #dd7 #dd7-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#dl7 #dd7 #dd7-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#dl7 #dd7 #dd7-2 p a:hover{
	  color:#e5004f;
}


#dl8 #dd8{
	width:500px;
	position:absolute;
	left:210px;
	display: none; 
	top:0px;
}
#dl8 #dd8 #dd8-1{
	float: left;
    width: 340px;
    height: 403px;
    background: #333333;
    padding-top: 20px;
}
#dl8 #dd8 #dd8-1 #dd8-1-1{
	width:300px;
	margin-left:20px;
	border-bottom: 1px dotted #666;
}
#dl8 #dd8 #dd8-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#dl8 #dd8 #dd8-1 a:hover{
	color:#e5004f;
}
#dl8 #dd8 #dd8-1 #dd8-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#dl8 #dd8 #dd8-1 #dd8-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#dl8 #dd8 #dd8-1 #dd8-1-1 p a:nth-of-type(7){
	color:#e5004f;
}
#dl8 #dd8 #dd8-1 #dd8-1-1 p a:nth-of-type(9){
	color:#e5004f;
}
#dl8 #dd8 #dd8-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
}
#dl8 #dd8 #dd8-2{
	float:right;
 	height:393px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#dl8 #dd8 #dd8-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#dl8 #dd8 #dd8-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#dl8 #dd8 #dd8-2 p a:hover{
	  color:#e5004f;
}


#dl9 #dd9{
	width:500px;
	position:absolute;
	left:210px;
	display: none;  
	top:0px;
}
#dl9 #dd9 #dd9-1{
	float: left;
    width: 340px;
    height: 450px;
    background: #333333;
    padding-top: 20px;
}
#dl9 #dd9 #dd9-1 #dd9-1-1{
	width:300px;
	margin-left:20px;
	border-bottom: 1px dotted #666;
}
#dl9 #dd9 #dd9-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#dl9 #dd9 #dd9-1 a:hover{
	color:#e5004f;
}
#dl9 #dd9 #dd9-1 #dd9-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#dl9 #dd9 #dd9-1 #dd9-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#dl9 #dd9 #dd9-1 #dd9-1-1 p a:nth-of-type(6){
	color:#e5004f;
}
#dl9 #dd9 #dd9-1 #dd9-1-1 p a:nth-of-type(9){
	color:#e5004f;
}
#dl9 #dd9 #dd9-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
}
#dl9 #dd9 #dd9-2{
	float:right;
 	height:440px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#dl9 #dd9 #dd9-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#dl9 #dd9 #dd9-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#dl9 #dd9 #dd9-2 p a:hover{
	  color:#e5004f;
}


#dl10 #dd10{
	width:500px;
	position:absolute;
	left:210px;
	display: none;  
	top:0px;
}
#dl10 #dd10 #dd10-1{
	float: left;
    width: 340px;
    height: 430px;
    background: #333333;
    padding-top: 20px;
}
#dl10 #dd10 #dd10-1 #dd10-1-1{
	width:300px;
	margin-left:20px;
}
#dl10 #dd10 #dd10-1 a{
	text-decoration: none;
	padding:0 2px;
	font-size: 14px;
	color:#fff;
}
#dl10 #dd10 #dd10-1 a:hover{
	color:#e5004f;
}
#dl10 #dd10 #dd10-1 #dd10-1-1 p a:nth-of-type(1){
	color:#e5004f;
}
#dl10 #dd10 #dd10-1 #dd10-1-1 p a:nth-of-type(3){
	color:#e5004f;
}
#dl10 #dd10 #dd10-1 #dd10-1-1 p a:nth-of-type(6){
	color:#e5004f;
}
#dl10 #dd10 #dd10-1 #dd10-1-1 p a:nth-of-type(9){
	color:#e5004f;
}
#dl10 #dd10 #dd10-1 p{
	margin-bottom:5px;
	padding-bottom: 2px;
}
#dl10 #dd10 #dd10-2{
	float:right;
 	height:420px;
 	width:145px;
 	padding:15px 0 15px 15px;
	background:#222222;
}
#dl10 #dd10 #dd10-2 h3{
	width: 130px;
	height: 26px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-family: "\5fae\8f6f\96c5\9ed1";
	border-bottom: 1px dotted #666;
}
#dl10 #dd10 #dd10-2 p a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
}
#dl10 #dd10 #dd10-2 p a:hover{
	  color:#e5004f;
}
